---
layout: default
title: About | AmadorUAVs
heading: About Us
subheading: We strive to spread the science of aviation in our community!
---
<section class="hero banner-gradient">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile is-centered">
                <div class="column">
                    <h1 class="title is-1 has-text-white has-text-centered">{{ page.heading }}</h1>
                </div>
            </div>
            <div class="columns is-mobile is-centered">
                <div class="column">
                    <h1 class="subtitle has-text-white has-text-centered">{{ page.subheading }}</h1>
                </div>
            </div>
        </div>
</section>
{% for block in site.data.about %}
<section class="section" id="block{{ block.title }}">
    <div class="container">
        {% if block.align == 'left' %}
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="{{ block.image }}"</img>
                </figure>
            </div>
            <div class="column has-text-centered">
                <h1 class="title is-2">{{ block.title }}</h1>
                <p class="is-size-4">{{ block.text }}</p>
            </div>
        </div>
        {% else %}
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title is-2">{{ block.title }}</h1>
                <p class="is-size-4">{{ block.text }}</p>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="{{ block.image }}"</img>
                </figure>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}
