---
layout: default
title: Home | AmadorUAVs
heading: We are AmadorUAVs
subheading: Building the future of autonomous aviation.
actions:
    - title: "Learn More"
      href: "#aboutus"
      style: "info"
      icon: "fa-arrow-down"
      blank: false
---
{% include imgbanner.html title=page.heading subtitle=page.subheading
id="homeHero" actions=page.actions %}

{% for block in site.data.about %}
<section class="section" id="block{{ block.title }}">
    <div class="container" id="aboutus">
        {% if block.align == 'left' %}
        <div class="columns">
            <div class="column">
                <figure class="image">
                    <img src="{{ block.image }}" style="border-radius:10px;"</img>
                </figure>
		</div>
            <div class="column has-text-centered">
                <h1 class="title is-2">{{ block.title }}</h1>
                <p class="is-size-4">{{ block.text }}</p>
            </div>
        </div>
        {% else %}
        <div class="columns">
            <div class="column has-text-centered">
                <h1 class="title is-2">{{ block.title }}</h1>
                <p class="is-size-4">{{ block.text }}</p>
            </div>
            <div class="column">
                <figure class="image">
                    <img src="{{ block.image }}" style="border-radius:10px;"</img>
                </figure>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}
