---
layout: default
title: Become a Sponsor | AmadorUAVs
heading: Support Us!
subheading: Support high school aviation and engineering, and get cool perks such as a logo on our drone and more!
bt_head: Sponsorship Levels & Benefits
bt_p: Contact us at officers@amadoruavs.com to learn more.
---

{% include imgbanner.html title=page.heading subtitle=page.subheading
id="sponsorHero" actions=site.data.sponsors.actions %}

<br>

<div class="container">
    <h2 class="title is-3 has-text-centered">{{ page.bt_head }}</h1>
    <p class ="is-size-5 has-text-centered">{{ page.bt_p }}</p>

    <br />

    {% include levels.html %}
</div>


<!--<div class="container" id="sponsorLevelsSection">-->
    <!--{ for level in site.data.sponsors.levels %}-->
    <!--<div class="columns is-centered">-->
        <!--<div class="column is-offset-3 is-2">-->
            <!--{ include sponsor_ring.html-->
            <!--colors=level.colors-->
            <!--boxsize=site.data.sponsors.ring-boxsize-->
            <!--thickness=site.data.sponsors.ring-thickness-->
            <!--name=level.name title=level.title amount=level.amount %}  -->

        <!--</div>-->
        <!--<div class="column">-->
            <!--<div class="content">-->
                <!--<ul class="is-size-6">-->
                    <!--{ for benefit in level.benefits %}-->
                    <!--<li>{{ benefit.item }}</li>-->
                    <!--{ endfor %}-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--{ endfor %}-->
<!--</div>-->

<br />
