---
layout: default
title: Team | AmadorUAVs
heading: The Team
subheading: Our hardworking team is comprised of many brilliant high school engineers.
---

{% include banner.html title=page.heading subtitle=page.subheading %}

{% for division in site.data.divisions %}
<section class="section" id="division{{ division.name }}">
    <div class="container">
        <h1 class="title">{{ division.name }}</h1>
        {% assign filtered_members = site.data.members | where: 'division', division.name %}
        <div class="columns">
            {% for member in filtered_members %}
            <div class="column is-3">
                <div class="member-card" id="member-card-{{ member.username }}"> <!--member-card-->
                    <div class=card-image">
                        <picture class="image is-1by1">
                            <source class="member-profile" srcset="{{ member.image }}.webp" alt="{{ member.name }}" type="image/webp">
                            <source class="member-profile" srcset="{{ member.image }}.png" alt="{{ member.name }}" type="image/png">
                            <img class="member-profile" src="{{ member.image }}.png" alt="{{ member.name }}">
                        </picture>
                    </div>
                    <div class="card-content">
                        <p class="title is-4 has-text-centered">{{ member.name }}</p>
                        <p class="subtitle is-6 has-text-centered">{{ member.position }}<!-- · {{ member.email }}--></p>
                    </div>
                </div>
            </div>
            {% include member_modal.html username=member.username name=member.name
            image=member.image position=member.position blurb=member.blurb %}
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}
