---
layout: default
title: Team | AmadorUAVs
heading: The Team
subheading: Our hardworking team is comprised of many brilliant high school engineers.
---

{% include banner.html title=page.heading subtitle=page.subheading %}

{% for division in site.data.divisions %}
<section class="section" id="division{{ division.name }}">
    <div class="container">
        <h1 class="title">{{ division.name }}</h1>
        {% assign filtered_members = site.data.members | where: 'division', division.name %}
        <div class="columns">
            {% for member in filtered_members %}
            <div class="column is-3">
                <div class=""> <!--member-card-->
                    <div class=card-image">
                        <figure class="image is-1by1">
                            <img class="member-profile" src="{{ member.image }}" alt="{{ member.name }}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <p class="title is-4 has-text-centered">{{ member.name }}</p>
                        <p class="subtitle is-6 has-text-centered">{{ member.position }}<!-- · {{ member.email }}--></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}
