<footer class="footer hero banner-gradient">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third"></div>
            <div class="column has-text-centered">
                <a class="button is-large is-rounded is-outlined is-inverted is-primary" href="https://www.twitter.com/amadoruavs">
                    <span class="icon is-medium">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
            </div>
            <div class="column has-text-centered">
                <a class="button is-large is-rounded is-outlined is-inverted is-primary" href="https://www.instagram.com/amadoruavs">
                    <span class="icon is-medium">
                        <i class="fab fa-instagram"></i>
                    </span>
                </a>
            </div>
            <div class="column has-text-centered">
                <a class="button is-large is-rounded is-outlined is-inverted is-primary" href="https://www.facebook.com/amadoruavs">
                    <span class="icon is-medium">
                        <i class="fab fa-facebook"></i>
                    </span>
                </a>
            </div>
            <div class="column has-text-centered">
                <a class="button is-large is-rounded is-outlined is-inverted is-primary" href="https://www.facebook.com/amadoruavsclub">
                    <span class="icon is-medium">
                        <i class="fab fa-medium"></i>
                    </span>
                </a>
            </div>
            <div class="column is-one-third"></div>
        </div>
    </div>
</footer>
