<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://amadoruavs.github.io">
                <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarAmadorUavs" class="navbar-menu">
            <div class="navbar-start">
                {% for item in site.data.navigation %}
                <a class="navbar-item" {% if page.url == item.link %}class="is-active"{% endif %}href="{{ item.link }}">
                    {{ item.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
