<nav class="navbar level" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/index.html">
                <img src="/assets/images/logo-clearbg.svg" id="navLogo">
            </a>
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarAmadorUavs">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarAmadorUavs" class="navbar-menu">
            <div class="navbar-start">
                {% for item in site.data.navigation %}
                    {% if item.sublinks %}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                {{ item.name }}
                            </a>

                            <div class="navbar-dropdown">
                                {% for sublink in item.sublinks %}
                                <a class="navbar-item" href="{{ sublink.link }}">
                                        {{ sublink.name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                    <a class="navbar-item {% if item.link == page.url %}{% endif %}" href="{{ item.link }}" {% if item.external %} target="_blank" {% endif %}>
                        {{ item.name }}
                    </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</nav>
