html {
    scroll-behavior: smooth;
}

#sponsorHero {
    background-image: url("/assets/images/sponsor-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: white;
    }
}

#homeHero {
    background-image: url("/assets/images/home-title.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-tint {
    background-color: rgba(50,50,50,.7); // Tint color
    background-blend-mode: multiply;
}

#sponsorLevels {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

#navLogo {
    max-height: 5rem !important;
}

.fullheight-nav {
    min-height: calc(100vh - 6rem);

    .hero-body {
        align-items: center;
        display: flex;
    }
}

.fullheight-img {
    min-height: 100vh;
}

.banner-gradient {
    background-image: linear-gradient(to right, #FD6EC4, #7B73F4);
    // #CE2A7F, #744BCB, #0EABCD
}

.footer {
    background-color: #DDDDDD !important;
}

.trap:before {
  display: block;
  background: linear-gradient(to right, #FD6EC4, #7B73F4);
  content: '';
  width: 200%; height: 25%;
  transform: skewX(-30deg) rotate(30deg) translate(-1.25em, 3.25em);
}

.trap {
    display: inline-block;
    overflow: hidden;
    margin: 0 6em;
    /**outline: solid 1px;/**/
    width: 100vw;
    height: 8.66em;
    transform: rotate(-30deg) skewX(30deg);
    // border-bottom-width: 100vh;
    // border-image: linear-gradient(#FD6EC4, #7B73F4) 100;
    // border-bottom:100vh solid linear-gradient(to right, #FD6EC4, #7B73F4);
    // border-left: 10vw solid transparent;
    // height: 100%;
    // width: 50vw;
    // position: absolute;
    // top: 0;
    // right: 0;
    // z-index: 2;
    // float: right;
    // border-color: blue transparent blue transparent;
    // border-width: 0 0 0 50px;
}
