// @font-face {
	// font-family: "Gilroy Light";
	// src: url("/assets/fonts/gilroy/light.ttf");
    // font-display: swap;
// }

html {
    scroll-behavior: smooth;
}

// body {
    // font-family: Gilroy Light !important;
// }

#sponsorHero {
    background-image: url("/assets/images/sponsor-title.webp");
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        color: white;
    }
}

#homeHero {
    background-image: url("/assets/images/home-title.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.background-tint {
    background-color: rgba(50,50,50,.7); // Tint color
    background-blend-mode: multiply;
}

#sponsorLevels {
    max-width: 50%;
    max-height: 50%;
    margin: 0 auto;
}

#navLogo {
    max-height: 5rem !important;
}

.fullheight-nav {
    min-height: calc(100vh - 6rem);

    .hero-body {
        align-items: center;
        display: flex;
    }
}

.fullheight-img {
    min-height: 100vh;
}

.banner-gradient {
    background-image: linear-gradient(to right, #FD6EC4, #7B73F4);
    // #CE2A7F, #744BCB, #0EABCD
}

.footer {
    background-color: #DDDDDD !important;
}

.trap:before {
  display: block;
  background: linear-gradient(to right, #FD6EC4, #7B73F4);
  content: '';
  width: 200%; height: 25%;
  transform: skewX(-30deg) rotate(30deg) translate(-1.25em, 3.25em);
}

.trap {
    display: inline-block;
    overflow: hidden;
    margin: 0 3em;
    /**outline: solid 1px;/**/
    width: 100vw;
    height: 8.66em;
    transform: rotate(-30deg) skewX(30deg);
    // border-bottom-width: 100vh;
    // border-image: linear-gradient(#FD6EC4, #7B73F4) 100;
    // border-bottom:100vh solid linear-gradient(to right, #FD6EC4, #7B73F4);
    // border-left: 10vw solid transparent;
    // height: 100%;
    // width: 50vw;
    // position: absolute;
    // top: 0;
    // right: 0;
    // z-index: 2;
    // float: right;
    // border-color: blue transparent blue transparent;
    // border-width: 0 0 0 50px;
}

.large-title {
    font-size: 5rem !important;
}

.bot-pad-title {
    padding-bottom: 10px;
}

.member-profile {
    border-radius: 10px;
}

.page-title {
    font-size: 70pt !important;
    margin-bottom: 40px !important;
}

.page-subtitle {
    margin-bottom: 40px !important;
}

.action {
    padding-left: 60px;
    padding-right: 60px;
}

.sponsor-image {
     object-fit: contain;
     padding: 10px;
 }

 //.sponsor-image-figure {
     //padding: 10px;
 //}

.plan-items {
    columns: 1 !important;
}

.plan-price {
    width: 50% !important;
    margin: auto !important;
}

.plan-item {
    font-size: 1.1em !important;
}

.text-platinum {
    background: linear-gradient(to right, #434343 0%, #4A4D74 25%, #CCCCCC 50%, #4A4D74 75%, #434343 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gold {
    background: linear-gradient(to right, #DBAB1F 0%, #EDCE47 25%, #C39C2C 50%, #EDCE47 75%, #DBAB1F 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-silver {
    background: linear-gradient(to right, #B5B4A6 0%, #999999 25%, #B7B7B7 50%, #999999 75%, #B5B4A6 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-bronze {
    background: linear-gradient(to right, #AA6137 0%, #E4A080 25%, #C7815C 50%, #E4a080 75%, #AA6137 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.has-dropdown:hover .navbar-dropdown {
    //animation: navAnim .2s ease-in-out;
}

@keyframes navAnim {
  0% {
    display: none;
    opacity: 0;
    height: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 100%;
  }
}

.navbar-burger {
    margin: auto 0;
}

.member-card img {
    transition: all 0.1s ease-in-out;
    border-radius: 10px;
}

.member-card img:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 4px 20px 0 rgba(0, 0, 0, 0.1);
}

#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from { opacity: 1 }
      to { opacity: 0 }
}

@keyframes fade-in {
    from { opacity: 0 }
      to { opacity: 1 }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

.navbar-item {
    font-size: 14pt;

    .active {
        color: #3273dc;
    }
}

.spec-card {
    border: 1px solid #EEEEEE;
    //margin: 10px;
    border-radius: 4px;
}
